@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    
body{  
    background-color: #fefae0;
}

header{
    background-color: #606c38;
    display: flex;
    height: 8rem;
}

.logo{
    height: 9rem;
    width: 18rem;
    margin-top: -1rem;
}

.container{
    margin-left: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

header nav{
    display: inline-block;
    margin: 1rem;
    margin-top: 2.5rem;
    margin-left: 9rem;
}

nav a{
    text-transform: capitalize;
    color: #fefae0;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
}

nav a:hover{
    padding: 1rem;
    text-transform: capitalize;
    background-color: #ffffff21;
    border-radius: 2rem;
}

.banner{
   border: 0.3rem solid #606c38; 
   width: 84.3rem;
   height: 30rem;
}

div#b1{
    background-image: url(imgfeh/banner.gif);
    
}

main h1{
    color: #80323F;
    text-align: center;
}

main h2{
    background-color: #e3f2b3d7;
    color: #bc6c25;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    font-size: 1.8rem;
}

.card1{
    text-align:justify;
    margin:1.5rem;
    margin-left: 23rem;
    background-color: #606c38ce;
    border-radius: 2rem;
    padding: 2rem;
    width: 40rem;
}

.card1 h1{
    color:#17192B;
}

section h3{
    color: #48522a;
    text-align: center;
    font-size: 1.4rem;
}

.tirinha{
    display: flex;
    flex-direction: row;

}

.tirinha div{ 
    text-align:justify;
    width: 50rem;
    margin:1.5rem;
    border-radius: 2rem;
    padding: 2rem;
}
.quadrado-2{
    background-color: #BC9C7E;
}

.quadrado-3{
    background-color: #889BA3;
}


.col{
    display: grid;
    grid-template-columns:auto auto auto;
    gap:2rem;
    background-color: #e3f2b3d7;
    
}
img{
    width: 100%;
}

.col img{
    height: 6rem;
    width: 6rem;
}

.col > div{
    display:flex;
    flex-wrap: nowrap;
    padding: 1rem;
    margin-top: 1rem;

}

.col > div > p{
    padding-left: 1rem;
    text-align: justify;
}

.time{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem;
    padding: 2rem;
}

.foto-time img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

.foto-time{
    width: 8rem;
    height: 20rem;
    border: 0.5rem solid #606c38;
    border-radius: 2.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem #606c38c4;
    flex-grow: 1;
    transition: transform .5s;
    cursor: url(IMG/cursor\ \(2\).cur), default;
}


.foto-time:hover{
     transform:scale(1.2);
     border-radius: 2.5rem;
   
}

.footer-distributed{
    background: #283618;
    box-shadow: 0 0.5rem 0.2rem #fefae0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 1rem 'Roboto';
    padding: 55px 50px;
    margin-top: 2rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* logo */

.logo2{
    height: 9rem;
    width: 22rem;
}

.footer-distributed h3{
        
    color: #fefae0;
    font: normal 1rem 'Roboto', cursive;
    margin: 0;
}



/* Footer links */

.footer-distributed .footer-links{
    color:  #fefae0;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-links a:hover{
    color: #dda15e;
}

.footer-distributed .footer-company-name{
    color: #fefae0;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color: #606c38;
    color: #fefae0;
    font-size: 1rem;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: flex;
    color: #fefae0;
    font-weight: 400;
    vertical-align: middle;
    margin:1;
    line-height: 1.5rem;
}

.footer-distributed .footer-center p span{
    display:flex;
    font-weight: normal;
    font-size:1rem;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color: #dda15e;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 1.5rem;
  left: 0;
  color: #fefae0;
  display: inline-block;
  padding-right: 0.3rem;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
    margin-top: 2rem;
}

.footer-distributed .footer-company-about{
    line-height: 1rem;
    color:  #dda15e;
    font-size: 1rem;
    font-weight: normal;
    margin: 10px 15px;
    height: 38px;
    
    
}

.footer-distributed .footer-company-about span{
    display: block;
    color: #fefae0;
    font-size: 1rem;
    font-weight:lighter;
    margin-bottom: 2rem;
}

.footer-right .redesicons{
    margin-top: 8rem;
    margin-left: 2rem;
}

.footer-right .redesicons img{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.footer-right .redesicons .int{
    height: 1.8rem;
    width: 1.8rem;
}


@media only screen and (max-width:768px){
    header{
        width: 20rem;
        height: 20rem;
    }

    div#b1{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card1{
        display: flex;
        justify-content: left;
    }
    
    .col{
        display: flex;
        flex-wrap: wrap;
    }

    }
    /* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px 'Roboto';
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }
}