@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

body {
    font-size: 1.3rem;
    background: #fefae0;
}

header{
    background-color:#606c38;
    display: flex;
    height: 8rem;
}

.logo{
    height: 9rem;
    width: 18rem;
    margin-top: -1rem;
}

.container{
    margin-left: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

header nav{
    display: inline-block;
    margin: 1rem;
    margin-top: 2.5rem;
    margin-left: 9rem;
}

nav a{
    text-transform: capitalize;
    color: #fefae0;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 1rem;
}

nav a:hover{
    padding: 1rem;
    text-transform: capitalize;
    background-color: #ffffff21;
    border-radius: 2rem;
}


.a {
    color: #333;
    text-decoration: none;
} 

.container-2{
    height: 55vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-2 h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1, 2;
}

.container-2 h1 span {
    color: #dda15e;
}

.container-2 p {
    font-size: 2rem;
}

.container-carrossel{
    height: 560px;
    width: 900px;
    overflow: hidden;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 5px  rgba(124, 89, 60, 0.733) solid ;
    border-radius: 10px;
}

.bar{
    background-color:rgba(105, 81, 48, 0.5) ;
    width: 40px;
    height: 8px;
    margin: 7px;
    transition: .5s;
}

.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar:hover{
    background-color:rgba(235, 218, 195, 0.884) ;
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 600%; /*tamanho da div imagens*/

}

.imagem{
    width: 16.6666666667%;
    transition: .5s;
}

.imagem img{
    width: 100%;
    height: 100%;
}

#imagem1:checked ~.igm1{
    margin-left: 0;
}

#imagem2:checked ~.img1{
    margin-left: -16.6666666667%;
}

#imagem3:checked ~.img1 {
    margin-left: -33.3333333334%;
}

#imagem4:checked ~.img1 {
    margin-left: -50%;
}

#imagem5:checked ~.img1 {
    margin-left: -66.6666666667%;
}

#imagem6:checked ~.img1 {
    margin-left: -83.3333333335%;
}

.subtitulo h2{
    color: #606c38;
    margin-top:45%;
    text-align: center;
}

.container-3 {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    margin-top: 5%;
}

img {
    width: 100%;
}


.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
    background: #606c38;
    border-radius: 30px;
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
    width: 100%;
}

.card>div {
    padding: 2rem;

}

.card:nth-child(even) img {
    order: 2;
}

.footer-distributed{
    background: #283618;
    box-shadow: 0 0.5rem 0.2rem 0 #fefae0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 1rem 'Roboto';
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* logo */

.logo2{
    height: 9rem;
    width: 22rem;
}

.footer-distributed h3{
        
    color: #fefae0;
    font: normal 1rem 'Roboto', cursive;
    margin: 0;
}



/* Footer links */

.footer-distributed .footer-links{
    color:  #fefae0;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-links a:hover{
    color: #dda15e;
}

.footer-distributed .footer-company-name{
    color:  #fefae0;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color: #606c38;
    color:#fefae0;
    font-size: 1rem;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: flex;
    color: #fefae0;
    font-weight: 400;
    vertical-align: middle;
    margin:1;
    line-height: 1.5rem;
}

.footer-distributed .footer-center p span{
    display:flex;
    font-weight: normal;
    font-size:1rem;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color: #dda15e;
    text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 1.5rem;
  left: 0;
  color: #fefae0;
  display: inline-block;
  padding-right: 0.3rem;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
    margin-top: 2rem;
}

.footer-distributed .footer-company-about{
    line-height: 1rem;
    color:  #dda15e;
    font-size: 1rem;
    font-weight: normal;
    margin: 10px 15px;
    height: 38px;
    
    
}

.footer-distributed .footer-company-about span{
    display: block;
    color:#fefae0;
    font-size: 1rem;
    font-weight:lighter;
    margin-bottom: 2rem;
}

.footer-right .redesicons{
    margin-top: 8rem;
    margin-left: 2rem;
}

.footer-right .redesicons img{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
}

.footer-right .redesicons .int{
    height: 1.8rem;
    width: 1.8rem;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px 'Roboto';
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

} 




  